mixin head({ title })
  head
    meta(name="robots" content="noindex, nofollow")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")

    title=title

    link(rel="icon" href=`${baseUrl}/favicon/favicon.png` type="image/png")
    link(rel="apple-touch-icon" href=`${baseUrl}/favicon/apple-touch-icon.png` sizes="180x180" )
    link(rel="icon" href=`${baseUrl}/favicon.ico`)

    link(rel="stylesheet" href=`${baseUrl}/css/style.css`)
